{
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 160,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "proseWrap": "always"
}
